@{
    ViewData["Title"] = "Solve";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Solve">
    <div class="row">
        <div class="col">
            <input type="text" name="fizzIn" />
        </div>
        <div class="col">
            <input type="text" name="buzzIn" />
        </div>
        <div class="col">
            <button class="btn btn-dark" type="submit">Fizzbuzz</button>
        </div>
    </div>
    <hr />
</form>
<div class="row">
    <div class="col">
        <p>@ViewData["Output"]</p>
    </div>
</div>